@{
    ViewData["Title"] = "Meal";
}

<main>
    <div class="container-fluid px-4 pt-2">
        <h1 class="mt-4">Meals Management</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success text-white p-2" id="add-btn">Add Meal</button>
                    </div>
                    <div class="col-md-4 ms-auto">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="meals-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price (USD)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="add-meal-modal" tabindex="-1" aria-labelledby="addMealLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Meal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Ingredient:</label>
                                <select class="form-select" aria-label="Default select example" id="select-ingredient" onchange="changeIngredient()">
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="quantity" class="col-form-label">Quantity:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="quantity" placeholder="Quantity" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="unit-group-label">---</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary text-white" id="add-ingredient-btn" onclick="addIngredientToTable()">Add Ingredient To Meal</button>
                    </div>
                    <div class="mb-3">
                        <input hidden id="table-row-count" value="0" />
                        <table class="table table-bordered" id="meals-table">
                            <thead>
                                <tr>
                                    <th>Ingredient Name</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Unit Price (USD)</th>
                                    <th>Total Price (USD)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="meals-table-body">
                                <tr id="meals-table-no-row">
                                    <td colspan="6"align="center">No ingredient</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="price" placeholder="Total price" value="0" aria-describedby="basic-addon2" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text">USD</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-meal-modal" tabindex="-1" aria-labelledby="editMealLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Edit Meal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="id-edit" />
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name-edit" value="">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Unit:</label>
                        <input type="text" class="form-control" id="unit-edit" value="" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Unit price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="unit-price-edit" placeholder="Unit price" aria-describedby="basic-addon2" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text">USD</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="update-btn" onclick="updateMeal()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-meal-modal" tabindex="-1" aria-labelledby="deleteMealLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete Meal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="id-delete" />
                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <span id="name-delete" value=""></span>
                    </div>
                    <div class="mb-1">
                        <label for="message-text" class="col-form-label">Unit:</label>
                        <span id="unit-delete" value=""></span>
                    </div>
                    <div class="mb-1">
                        <label for="message-text" class="col-form-label">Unit price:</label>
                        <span id="unit-price-delete" value=""></span> USD
                    </div>
                    <br />
                    <div>Are you sure to delete this Meal?</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="delete-btn" onclick="deleteMeal()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-quantity-modal" tabindex="-1" aria-labelledby="addQuantityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Meals To Storage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="selected-Meal-import" />
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Meal:</label>
                        <select class="form-select" aria-label="Select Meal" id="select-Meal">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Quantity:</label>
                        <input type="number" class="form-control" id="quantity" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Total price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="total-price" placeholder="Total price" aria-describedby="basic-addon2" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text">USD</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="import-Meal-btn">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/meal.js" asp-append-version="true"></script>
}