<main>

    <div class="container-fluid px-4 pt-2">
        <h4 class="mt-4">Dashboard</h4>
        <div class="bg-light d-flex align-items-center justify-content-between col-md-2">
            <p id="title-date"></p>
        </div>
        <div class="row mb-3">

            <input class="form-control mt-2" style="width:12% !important ;margin-right:10px;" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" type="date" id="date_start" />
            <input class="form-control mt-2" style="width:12% !important;margin-right:10px;" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" id="date_end" />

        <button type="submit" class="btn btn-primary mt-2" style="width:5% !important;margin-right:10px;" onclick=" return GetFillterReprort()">Lọc</button>
        </div>
        <div class="row g-4 ">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">


                    <h5 class="mb-0 fw-bold text-dark text-uppercase" id="text-date">...</h5>


                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-dollar-sign fa-2x text-primary"></i>
                    <h5 class="mb-0 fw-bold text-dark text-uppercase">Revenue:</h5>
                    <h5 class="mb-0" id="total_money"></h5>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">
                    <i class="fas fa-toolbox  text-primary fa-2x"></i>
                    <h5 class="mb-0 fw-bold text-dark text-uppercase">Total order:</h5>
                    <h5 class="mb-0" id="total_order"></h5>

                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
            <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">

                    <i class="fas fa-hamburger text-primary fa-2x"></i>
                    <h5 class="mb-0 fw-bold text-dark text-uppercase">Products sold:</h5>
            <h5 class="mb-0" id="total_product"></h5>

            </div>
            </div>


        </div>


        <!-- Content Row Date-->
        <div class="row mt-3">
            <div>

                <a class="d-none d-sm-inline-block btn btn-sm btn-primary mb-2" href="#" id="btnExport">
                    <i class="fas fa-download fa-sm text-white-50"></i>  Export Excel
                </a>



            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <table class="table tabledate">

                        <thead>
                            <tr>
                                <th>
                                    Date Value
                                </th>
                                <th>
                                    Total Revenue
                                </th>
                                <th>
                                    Total order
                                </th>


                            </tr>
                        </thead>
                        <tbody class="datatable_report">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <!-- Bar Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-dark">Revenue</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="myChart"></canvas>
                        </div>



                    </div>
                </div>

            </div>


        </div>

    </div>
</main>


@section Scripts{
    <script src="~/admin/js/dashboard.js" asp-append-version="true"></script>
}