
@{
    ViewBag.Title = "Quyền truy cập bị hạn chế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center mt-4">
                    <img src="~/admin/images/z4904432753554_59ceceda85c92019006e5cdcb9dfc536.jpg" />
                    <p class="lead"></p>
                    <a href="~/Home/Index">
                        <i class="fas fa-arrow-left me-1"></i>
                        Return to home page
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
