@model CateringManagement.Models.DTO.UserInfoDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Catering Management</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link href="~/admin/css/styles.css" rel="stylesheet" />
    <script src="~/admin/js/main.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Catering Management</h3></div>
                                <div class="card-body">
                                    <form id="loginForm">
                                        
                                        <div class="form-floating mb-3">
                                            <input class="form-control"  type="text" placeholder="Mời nhập email" id="Email"/>
                                            <label for="inputEmail">Email</label>
                                            <span  class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="password" placeholder="Mời nhập password" id="Password" />
                                            <label for="inputPassword">Password</label>
                                            <span  class="text-danger"></span>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                            <div class="col-6" style="padding-left: 80px;">
                                                <a href="~/Login/ForgotPassword" class="btn btn-outline-secondary">Forgot password</a>
                                            </div>
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-outline-primary" style="width:144px">Log in</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
       
    </div>
</body>
</html>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#loginForm").submit(function (e) {
            e.preventDefault(); // Ngăn chặn sự kiện mặc định của form
            Login();
        });
    });
    function Login() {

        var email = $("#Email").val();
        var password = $("#Password").val();
        console.log(email)
        console.log(password)
        $.ajax({
            type: "POST",
            url: "/Login/Login",
            data: JSON.stringify({ Email: email, password: password}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.result == 1) {
                  
                        window.location.href = "/Home/Index";
                 
                } else if (response.result == 0) {
                    toastr.error("Incorrect account or password!", "Notification!");
                    //swal("Notification!", "Incorrect account or password!", "error");
                } else if (response.result == 3) {
                    toastr.error("Please do not leave it blank!", "Notification!");
                    //swal("Notification!", "Please do not leave it blank!", "error");
                }else{
                    toastr.error("Contact administrator for processing!", "Notification!");
                    //swal("Notification!", "Contact administrator for processing!", "error");

                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
