@{
    ViewData["Title"] = "Ingredient";
}

<main>
    <div class="container-fluid px-4 pt-2">
        <h1 class="mt-4">Ingredients Management</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success text-white p-2" id="add-btn">Add Ingredient</button>
                    </div>
                    <div class="col-md-4 ms-auto">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="ingredients-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Unit Price (USD)</th>
                            <th>Total Quantity</th>
                            <th>Total Price (USD)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="add-ingredient-modal" tabindex="-1" aria-labelledby="addIngredientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Ingredient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Unit:</label>
                        <select class="form-select" aria-label="Default select example" id="unit">
                            <option selected>Select unit</option>
                            <option value="1">Ml</option>
                            <option value="2">Gram</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Unit price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="unit-price" placeholder="Unit price" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">USD</span>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/ingredient.js" asp-append-version="true"></script>
}