@{
    ViewData["Title"] = "Users";
}



<main>
    <div class="container-fluid px-4 pt-2">
        <h1 class="mt-4">Users Management</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success text-white p-2" data-bs-toggle="modal" data-bs-target="#addUser">Add New User</button>
                    </div>
                    <div class="col-md-4 ms-auto">
                        <form method="get" asp-action="Index" asp-controller="SinhVien">
                            <div class="input-group">

                                <select class="form-select" id="status" name="status" style="margin-right:20px;">
                                    <option value="-1">Tất cả</option>
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Không hoạt động</option>
                                </select>
                                <input class="form-control border-end-0 border rounded-pill " type="search" value="@ViewBag.SearchQuery" name="searchQuery" placeholder="nhập để tìm kiếm" id="example-search-input">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-light bg-primary border-bottom-0 border rounded-pill ms-n5" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-bordered" id="tblUsers">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                FirstName
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                Email
                            </th>

                            <th>
                                DateOfBirth
                            </th>

                            <th>
                                Sex
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                CreateDate
                            </th>
                            <th>
                                UpdateDate
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="validationMessage" class="text-danger" role="alert">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" onchange=" return showSelectedImage(this)" id="image">
                </div>
                <div id="selectedImageDiv" style="display:none;">
                    <label class="form-label">Selected Image:</label>
                    <div>
                        <img id="selectedImage" style="max-width: 200px; max-height: 200px;" />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" >
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="admin" value="0" >
                        <label class="form-check-label" for="admin">
                            Admin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="storage" value="1" >
                        <label class="form-check-label" for="storage">
                            Storage
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="chef" value="2" >
                        <label class="form-check-label" for="chef">
                            Chef
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="reception" value="3" >
                        <label class="form-check-label" for="reception">
                            Reception
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" >
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" >
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sex</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" id="male" value="1">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" id="female" value="0">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="active" value="1">
                        <label class="form-check-label" for="active">
                            Active
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="inactive" value="0">
                        <label class="form-check-label" for="inactive">
                            InActive
                        </label>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="onAddUser" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>