@{
    ViewData["Title"] = "Users";
}



<main>
    <div class="container-fluid px-4 pt-2">
        <h1 class="mt-4">Users Management</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success text-white p-2" id="onAddUser">Add New User</button>
                    </div>
                    <div class="col-md-4 ms-auto">
                        <div class="d-flex align-items-center">
                            <label class="form-label me-2">Role:</label>
                            <select class="form-select form-select-sm me-2" id="role-search" style="width: 120px;">
                                <option value="-1">All</option>
                                <option value="0">Admin</option>
                                <option value="1">Storage</option>
                                <option value="2">Chef</option>
                                <option value="3">Reception</option>
                            </select>
                            <input class="form-control me-2" type="search" placeholder="Search" id="example-search-input">
                            <button class="btn btn-outline-light bg-primary rounded-pill" id="btnSearchUser">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>

                </div>

            </div>
            <div class="card-body">
                <table class="table table-responsive" id="tblUsers" style="width: 100% !important;">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                FirstName
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                Email
                            </th>

                            <th>
                                DateOfBirth
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Sex
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                CreateDate
                            </th>
                            <th>
                                UpdateDate
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="employee_id" />
                <div id="validationMessage" class="text-danger" role="alert">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" onchange=" return showSelectedImage(this)" id="image">
                </div>
                <div id="selectedImageDiv">
                    <label class="form-label"> Image:</label>
                    <div>
                        <img id="selectedImage" style="max-width: 200px; max-height: 200px;" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="col">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="roles">Role</label>
                    <select class="form-select" id="role" name="role">
                        <option value="0">Admin</option>
                        <option value="1">Storage</option>
                        <option value="2">Chef</option>
                        <option value="3">Reception</option>
                    </select>
                </div>

               
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="col">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                    </div>
               
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth">
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label">Sex</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="male" value="1">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="female" value="0">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="active" value="1">
                                <label class="form-check-label" for="active">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="inactive" value="0">
                                <label class="form-check-label" for="inactive">
                                    InActive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddUser" class="btn btn-primary">Add</button>
                <button type="button" id="btnEditUser" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/admin/js/user.js" asp-append-version="true"></script>
}