@{
    ViewData["Title"] = "Order";
}

<main>
    <div class="container-fluid px-4 pt-2">
        <h1 class="mt-4">Orders Management</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success text-white p-2" id="add-btn">Add Order</button>
                    </div>
                    <div class="col-md-4 ms-auto">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="orders-table" style="width: 100% !important">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Created Date</th>
                            <th>Pickup Date</th>
                            <th>Customer Name</th>
                            <th>Phone Number</th>
                            <th>Total Price (USD)</th>
                            <th>Sell Price (USD)</th>
                            <th>Status</th>
                            <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="add-order-modal" tabindex="-1" aria-labelledby="addOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Customer Name:</label>
                                <input type="text" class="form-control" id="customer-name">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Phone Number:</label>
                                <input type="text" class="form-control" id="customer-phone">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Pickup Date:</label>
                                <input type="date" class="form-control" id="pickup-date">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12"><h5>Order Detail</h5></div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Meal:</label>
                                <select class="form-select" aria-label="Default select example" id="select-meal" onchange="changeMeal()">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">Price:</label>
                                <input type="text" class="form-control" id="meal-price" disabled>
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">Quantity:</label>
                                <input type="number" class="form-control" id="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary text-white" onclick="addMealToTable()">Add Meal To Order</button>
                    </div>
                    <div class="mb-3">
                        <input hidden id="table-row-count" value="0" />
                        <table class="table table-bordered" id="orders-table">
                            <thead>
                                <tr>
                                    <th>Meal</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price (USD)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="orders-table-body">
                                <tr id="orders-table-no-row">
                                    <td colspan="5"align="center">No meal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Total Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="order-price" placeholder="Total price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Sell Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="sell-price" placeholder="Sell price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail-order-modal" tabindex="-1" aria-labelledby="addDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Order Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="col-form-label">Customer Name:</label>
                                <strong id="customer-name-detail"></strong>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">Phone Number:</label>
                                <strong id="customer-phone-detail"></strong>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">Created Time:</label>
                                <strong id="created-time-detail"></strong>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">Pickup Date:</label>
                                <strong id="pickup-date-detail"></strong>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">Status:</label>
                                <strong id="status-detail"></strong>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12"><h5>Order Detail</h5></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <table class="table table-bordered" id="orders-table-detail">
                            <thead>
                                <tr>
                                    <th>Meal</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price (USD)</th>
                                </tr>
                            </thead>
                            <tbody id="detail-orders-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Total Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="order-price-detail" placeholder="Total price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Sell Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="sell-price-detail" placeholder="Sell price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-order-modal" tabindex="-1" aria-labelledby="editOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Edit Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="id-edit" />
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Customer Name:</label>
                                <input type="text" class="form-control" id="customer-name-edit">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Phone Number:</label>
                                <input type="text" class="form-control" id="customer-phone-edit">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Pickup Date:</label>
                                <input type="date" class="form-control" id="pickup-date-edit">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12"><h5>Order Detail</h5></div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">Meal:</label>
                                <select class="form-select" aria-label="Default select example" id="select-meal-edit" onchange="changeMeal('-edit')">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">Price:</label>
                                <input type="text" class="form-control" id="meal-price-edit" disabled>
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">Quantity:</label>
                                <input type="number" class="form-control" id="quantity-edit">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary text-white" onclick="addMealToTable('-edit')">Add Meal To Order</button>
                    </div>
                    <div class="mb-3">
                        <input hidden id="table-row-count-edit" value="0" />
                        <table class="table table-bordered" id="orders-table-edit">
                            <thead>
                                <tr>
                                    <th>Meal</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price (USD)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="orders-table-body-edit">
                                <tr id="orders-table-no-row-edit">
                                    <td colspan="5" align="center">No meal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Total Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="order-price-edit" placeholder="Total price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Sell Price:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="sell-price-edit" placeholder="Sell price" value="0" aria-describedby="basic-addon2" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="update-btn">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-order-modal" tabindex="-1" aria-labelledby="deleteOrderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="id-delete" />
                    <div>Are you sure to delete this order?</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="delete-btn" onclick="deleteOrder()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-quantity-modal" tabindex="-1" aria-labelledby="addQuantityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Orders To Storage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="selected-Order-import" />
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Order:</label>
                        <select class="form-select" aria-label="Select Order" id="select-Order">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Quantity:</label>
                        <input type="number" class="form-control" id="quantity" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Total price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="total-price" placeholder="Total price" aria-describedby="basic-addon2" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text">USD</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="import-Order-btn">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/order.js" asp-append-version="true"></script>
}